@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.fade-in { animation: fadeIn 3000ms; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

