@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


:root {
    --main-bg-color: rgb(8, 77, 161);
  }

.primary-image {
    width:90%;
}
body {
    text-align:center;
    padding:0px;
    background-color: var(--main-bg-color);
}
.first-name {
    font-family: 'Nunito', sans-serif;
    font-size: 280px;
    color: white;
}
.middle-last-name {
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    margin-top:-50px;
    color: white;
}
.frame {
    background-color: var(--main-bg-color);
    height: 100%;
    padding:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contents {
    
}